.slider-container {
  position: fixed;
  width: 100px;
  background: #00000055;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}
.slider {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff88;
  width: 10px;
  border-radius: 10px;
  height: 100%;
  position: relative;
}
.slider-handle {
  height: 10px;
  background: pink;
  width: 30px;
  flex-shrink: 0;
  position: absolute;
  left: -10px;
  border-radius: 10px;
  cursor: ns-resize;
}